<!-- mobile-specification.component.html -->
<header>
    <h1>IPHONE12</h1>
</header>
<section>
<img src="assets/img/iphone12.jpeg" alt="person-1">
<section><p>Price:70000</p></section>
</section>

<section>
    <h3>General Information</h3>
    <p>In The Box  - iPhone, USB-C to Lightning Cable, Documentation, 
        Model Number - MGJ83HN/A, 
        Model Name - iPhone 12, 
        Color - Yellow, 
        Browse Type - Smartphones, 
        SIM Type - Dual Sim, 
        Hybrid Sim Slot - No, 
        Touchscreen - Yes, 
        OTG Compatible - No, 
        Quick Charging - Yes, 
        Sound Enhancements - Built‑in Stereo Speaker</p>
    <!-- General information content -->
</section>

<section>
    <h3>Memory & Storage Features</h3>
    <!-- Specifications table -->
    <p>Internal Storage - 128 GB</p>
</section>

<section>
    <h2>Os & Processor Features</h2>
        <p>Operating System - iOS 14
        Processor Type - A14 Bionic Chip with Next Generation Neural Engine</p>
        
    <!-- Features list -->
</section>
<section><button class="btn btn-primary" routerLink="/addToCart">Book now</button></section>

