<h1 class="text-center my-5 customer_dashboard_title">Customer Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/about" class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/useredit.jpeg" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3" >About our Community</h5>
                    <p class="text-muted text-center">Here you can know about our community</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/menu" class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/online.jpg" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Order Now</h5>
                    <p class="text-muted text-center">Here u can book your Mobile..</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/contactUs"  class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/contactus.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">Conatct Us</h5>
                    <p class="text-muted text-center">We serve to Care you..</p>
                </div>
                 </a>
              </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">
    <div class="footer_wrapper">
        <ul>
            <li>Trade-in values will vary based on the condition, year and configuration of your trade-in device, and is computed on Maximum Retail 
                Price. You must be at least 18 years old to be eligible to trade in for credit. Not all devices are eligible for credit. 
                More details are available from trade-in partner for trade-in and recycling of eligible devices. Restrictions and 
                limitations may apply. Credit applied towards your new Phone will be based on the received device matching the description you 
                provided when your estimate was made and upon validation by the courier.
                  </li>

            <li>For any Queries call : 000800 040 1966</li>
           

           
            </ul>

        <div class="footer__copyright">
            <p>Copyright © 2023 777 Mobiles Inc. All rights reserved.</p>
            <a href="">India</a>
     
        
       

        <div class="links">
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
           <a href="">Sales Policy</a>
            <a href="">Legal</a>
            <a href="">Site Map</a>
    
    </div>
    </div>
    </div>
   
  