<div class="container">
    <h1 class="text-center my-3"> Your Booking</h1>

    <div class="login-card"><img class="profile-img-card" src="assets/img/Signup.png" />
        <p class="profile-name-card"></p>
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>Customer ID:</strong> {{ cart.cId }}</p></div>
        </div>
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>User Id:</strong> {{ cart.userId }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Item Id:</strong> {{ cart.itemId }}</p></div>
        </div>
       
        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>Item Name:</strong> {{ cart.itemName }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Item Storage :</strong> {{ cart.itemStorage }}</p></div>
        </div>

        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>Item Colour:</strong> {{ cart.itemColour }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Quantity:</strong> {{ cart.quantity }}</p></div>
        </div>

        <div class="row">
            <div class="col-md-6"><p class="text-center"><strong>User Name:</strong> {{ cart.userName }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Mobile Number:</strong> {{ cart.quantity }}</p></div>
            <div class="col-md-6"><p class="text-center"><strong>Address:</strong> {{ cart.quantity }}</p></div>
            
        </div>
    </div>
</div>
