<br>
<br>
<br>

<div class="login-card"><img class="profile-img-card" src="assets/img/Login.png" />
    <p class="profile-name-card"></p>
    <form  class="form-signin"><span class="reauth-email"></span>
        <input #Email  type="email" class="form-control" id="inputEmail" required placeholder="Email address" autofocus />
        <input #PWD type="password" class="form-control" id="inputPassword" required placeholder="Password" />
        <button class="btn btn-primary btn-block btn-lg btn-signin" (click)="Login(Email.value,PWD.value)" >Sign in</button>
    </form>
            <a class="forgot-password" routerLink="/signup">New User ?</a>
</div>


<br>
<footer class="footer">
    <div class="footer_wrapper">
        <ul>
            <li>Trade-in values will vary based on the condition, year and configuration of your trade-in device, and is computed on Maximum Retail 
                Price. You must be at least 18 years old to be eligible to trade in for credit. Not all devices are eligible for credit. 
                More details are available from trade-in partner for trade-in and recycling of eligible devices. Restrictions and 
                limitations may apply. Credit applied towards your new Phone will be based on the received device matching the description you 
                provided when your estimate was made and upon validation by the courier.
                  </li>

            <li>For any Queries call : 000800 040 1966</li>
           

           
            </ul>

        <div class="footer__copyright">
            <p>Copyright © 2023 777 Mobiles Inc. All rights reserved.</p>
            <a href="">India</a>
     
        
       

        <div class="links">
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
           <a href="">Sales Policy</a>
            <a href="">Legal</a>
            <a href="">Site Map</a>
    
    </div>
    </div>
    </div>
   
  
    
            <style>
               

            </style>