
<img src="assets/img/business.jpg" alt="" class="background">
<div class="business">
<h2 class="topic">
    Anything’s possible with&nbsp;apps.
 </h2>

 <h2>
    At 777mobiles, we help you decide "What to Buy" & "Where to Buy". Here are 5 easy ways to have an awesome 777mobiles shopping experience:
 </h2>
</div>

<img src="assets/img/business2.jpg" alt="" class="background1">
<div class="business2">
    
        <li> 777score: Every mobile phone has a score, based on our editors' extensive research. Select your price-range & feature requirements. And then buy the phone with the highest score. Simple.</li>
        <li> Latest Prices & Deals: Latest prices, deals, and facilities from all leading online stores are listed for every product. Just pick a Best Buy offer for the mobile you're looking for, to get the best combination of price & service.</li>
        <li>Find & Compare: Intuitive Finder & mobile comparison tool help you discover mobile phones & compare mobile specifications.</li>
        <li> Recommendations: Intelligent recommendations based on the products you browse help you find your ideal product.</li>
        <li> Offline Store Finder: Find mobile dealers & service centers near your location</li>
    


   
</div>

<footer class="footer">
    <div class="footer_wrapper">
        <ul>
            <li>Trade-in values will vary based on the condition, year and configuration of your trade-in device, and is computed on Maximum Retail 
                Price. You must be at least 18 years old to be eligible to trade in for credit. Not all devices are eligible for credit. 
                More details are available from trade-in partner for trade-in and recycling of eligible devices. Restrictions and 
                limitations may apply. Credit applied towards your new Phone will be based on the received device matching the description you 
                provided when your estimate was made and upon validation by the courier.
                  </li>

            <li>For any Queries call : 000800 040 1966</li>
           

           
            </ul>

        <div class="footer__copyright">
            <p>Copyright © 2023 777 Mobiles Inc. All rights reserved.</p>
            <a href="">India</a>
     
        
       

        <div class="links">
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
           <a href="">Sales Policy</a>
            <a href="">Legal</a>
            <a href="">Site Map</a>
    
    </div>
    </div>
    </div>

    </footer>
