<h1 class="text-center my-5 customer_dashboard_title">Admin Dashboard</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewItems" class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/registerM.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View All Mobile Phones and Register a Mobile </h5>
                    <p class="text-muted text-center">Here admin can view all the Mobiles which are registered.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/profile" class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/viewU.png" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View All Users</h5>
                    <p class="text-muted text-center">In this admin can view all user who signs up.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card customer_dashboard_card">
                <a routerLink="/viewCart" class="view_items_link">
                <div class="card-body">
                    <img src="../../assets/img/order.jpeg" class="customer_dashboard_img" alt="">
                    <h5 class="text-center my-3">View all Bookings</h5>
                    <p class="text-muted text-center">Here admin can view all the bookings done.</p>
                </div>
            </a>    
              </div>
        </div>
    </div>
</div>
