<br>
<div class="form-group">
    <input type="text"  class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"  placeholder="Search Products">  
</div>
<span class="fas fa-search search-icon"></span>


<br>
<br>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of item | filter:searchKey: 'itemName'">
            <div class="card col-md-3">
                <img src="{{item.itemImages}}" alt="person-1">
                <h5>{{item.itemName}}</h5>
                <p><strong>Price:</strong>{{item.itemPrice}}</p>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.itemSpecification}}</p>
                <button class="btn btn-primary" routerLink="/addToCart">Book Now</button>
    
            </div>
            </ng-container>
    </div>
</div>








<br>
<br>
<br>



<footer class="footer">
    <div class="footer_wrapper">
        <ul>
            <li>Trade-in values will vary based on the condition, year and configuration of your trade-in device, and is computed on Maximum Retail 
                Price. You must be at least 18 years old to be eligible to trade in for credit. Not all devices are eligible for credit. 
                More details are available from trade-in partner for trade-in and recycling of eligible devices. Restrictions and 
                limitations may apply. Credit applied towards your new Phone will be based on the received device matching the description you 
                provided when your estimate was made and upon validation by the courier.
                  </li>

            <li>For any Queries call : 000800 040 1966</li>
           

           
            </ul>

        <div class="footer__copyright">
            <p>Copyright © 2023 777 Mobiles Inc. All rights reserved.</p>
            <a href="">India</a>
     
        
       

        <div class="links">
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
           <a href="">Sales Policy</a>
            <a href="">Legal</a>
            <a href="">Site Map</a>
    
    </div>
    </div>
    </div>
