.footer{
    width: 100%;
    height: 810px;
    background: var(--white);
    display: flex;
    justify-content: center;

  }

  ul{
    font-size: 12px;
    list-style: none;
    color: #86868b;
    border-bottom: 1px solid var(--greyLight);
  }

  li{
    margin:15px 0;
    letter-spacing: 0.1px;
    width:700px;
  }

  .footer__more{
    font-size: 13px;
    color: #86868b;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--greyLight);
  }

  .footer__copyright{
  height: 20px;
    margin:10px;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #86868b;
    margin-top: 4px;
    position: absolute;
    left:27.5%;
  }
  
    .links{
    
      height: 20px;
      margin:10px;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      color: #86868b;
      margin-top: 4px;
      position: relative;
      right:2.5%;

    
  
}

.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.card{
    padding: 20px;
    margin: 30px;
}

.form-control{
    border-radius: 3px;
    width: 608px;
    margin-left: 415px;
    background-color: #dcdcdc;
    
    
}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 23.5%;
    top: 130px;
    color: black;
}

.btn{
    margin-bottom: 12px;
}

.no-item{
  color:gray;
  margin-left:430px;
}
